In [1]:
import pymysql

听说，使用PyMySQL模块固定不变的执行顺序是创建链接，创建游标，执行SQL语句，关闭游标和链接

游标是一个存储在MySQL服务器上的数据库查询，它不是一条select语句，而是被该语句所检索出来的结果集。

所以游标到底是个啥

In [2]:
# 创建连接
conn = pymysql.connect("localhost","root","581260","oujinsai")

# 创建游标
cursor = conn.cursor()

额啊看不懂了la，这里使用execute()向数据库发出sql语句请求,格式好像是这个样子的，就是先用字符串的形式把命令给打好，然后再用execute（sql）来执行

CREATE TABLE 库名；USER就是我的库名，这个括号给出了表的一些限定和描述，给出了id ，name，age 的描述，但是我还不知道auto_increment特别是后面的什么PRIMARY KEY

In [3]:
# 创建数据库的sql(如果数据库存在就不创建，防止异常)
sql = """
    CREATE TABLE USER (
    id INT auto_increment PRIMARY KEY ,
    name CHAR(10) NOT NULL UNIQUE,
    age TINYINT NOT NULL
    )
"""

# 执行创建数据库的sql
try:
    cursor.execute(sql)
except Exception as e:
    print(e)
    # 发生错误则回滚
    conn.rollback()

(1050, "Table 'user' already exists")

回滚的意思就是返回上一个操作

In [4]:
# 增加
sql = """
    INSERT INTO USER(name, age)
    VALUES(%s, %s)
"""
data = [
    ("little ou", 20),
    ("middle ou",21),
    ("old ou",22)
]
try:
    # 执行sql语句
    cursor.executemany(sql, data)
    # 提交执行
    conn.commit()
except Exception as e:
    print(e)
    # 发生错误则回滚
    conn.rollback()

(1062, "Duplicate entry 'little ou' for key 'user.name'")

有fetchone（）和fetchall（）之分,但是我用fetchone就会报错啊，我明明只输入了一个数据的，只改成fetchone也会报错说unable to fetch data

In [5]:
# 查询:select
sql = "SELECT * FROM USER \
       WHERE age = %d" % (20)
try:
   # 执行SQL语句
   cursor.execute(sql)
   # 获取所有记录列表
   results = cursor.fetchall()
   print(results)
   for row in results:
      id = row[0]
      name = row[1]
      age = row[2]
       # 打印结果
      print ("id:%s,name:%s,age=%d" % \
              (id, name, age))
except Exception as e:
    print(e)
    print ("Error: unable to fetch data")

()

想瞎改都不行，怎么改都报错，但是有点感觉了

In [6]:
# 改：UPDATE
sql = "UPDATE USER SET AGE = AGE + 1 WHERE name = '%s'" % ('little ou')
try:
   # 执行SQL语句
   cursor.execute(sql)
   # 提交到数据库执行
   conn.commit()
except Exception as e:
   print(e)
   # 发生错误时回滚
   conn.rollback()

In [7]:
# 删：DELETE
sql = "DELETE FROM USER WHERE AGE = %s" % (20)
try:
   # 执行SQL语句
   cursor.execute(sql)
   # 提交修改
   conn.commit()
except Exception as e:
    print(e)
   # 发生错误时回滚
    conn.rollback()

In [13]:

# ORDER BY
sql = "SELECT age FROM USER \
       where age order by age desc limit 1"
try:
   # 执行SQL语句
   cursor.execute(sql)
   # 提交修改
   conn.commit()
except Exception as e:
    print(e)
   # 发生错误时回滚
    conn.rollback()